<!DOCTYPE html>
<html>
<head>
    <title>Fenix CRM - Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body class="signin">

    <h1 class="center"><small>Please</small> Sign In</h1>

    <div class="contaier">
        <form class="form-narrow form-horizontal" action="/signin" method="post" th:action="@{/signin}">
            <th:block th:if="${param.error != null}">
                <div th:replace="fragments/alert :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
            </th:block>
            <fieldset>
                <div class="form-group">
                    <label for="inputEmail" class="control-label">Email</label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="username" />
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="control-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Sign in</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>