<!DOCTYPE html>
<html>
<head>
    <title>Fenix CRM - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
</head>
<body class="login">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <!-- ADMIN LOGIN main container -->
    <div class="container main-content-wrapper">

        <h1 class="center">Admin <small>Login</small></h1>

        <form class="form-narrow form-horizontal" action="/admin/login" method="post" th:action="@{/admin/login}">
            <fieldset>
                <span class="help-block"
                      th:if="${#fields.hasErrors('loginAdminForm.webuser')}"
                      th:errors="*{loginAdminForm.webuser}">
                    User data or childupp data are needed
                </span>

                <div class="form-group">
                    <label for="inputWebUser">User</label>
                    <input type="text" class="form-control" id="inputWebUser" placeholder="Email or id" name="webuser" />
                </div>

                <div class="form-group">
                    <label for="inputChildUpp">ChildUpp</label>
                    <input type="text" class="form-control" id="inputChildUpp" placeholder="Name or id" name="childupp" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Break the door!</button>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- /. "admin login" main container -->

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>