<!DOCTYPE html>
<html>
<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/vendor/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
</head>
<body class="general">
    <!-- (main Corporative) Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- /. (main Corporative) Header -->

    <div class="container main-content-wrapper">
        <div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})">Error: Error</div>
    </div>

    <!-- (main Corporative) Footer -->
    <footer class="footer-copyright" th:replace="fragments/footer :: footer">
    </footer>
    <!-- /. (main Corporative) Footer -->
</body>
</html>